.register {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0f2fe;
}

.register-container {
  width: 60%;
  height: 80%;
  background-color: #ffffff;
  border: 1px solid rgb(235, 235, 235);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
}

.register-presentation {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0284c7;
  border-radius: 12px 0px 0px 12px;
  padding: 20px;
  color: #fff;
}

.register-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
}
.register-title h2 {
  font-size: 32px;
  text-align: center;
}
.register-title h4 {
  font-size: 28px;
  text-align: center;
}
.register-presentation p {
  text-align: justify;
  margin: 20px 0px;
  font-size: 18px;
  letter-spacing: normal;
}
.register-presentation a {
  margin: 20px;
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  color: #0284c7;
  font-size: 20px;
  background: #ffffff;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.register-form {
  background-color: #ffffff;
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 0px 12px 12px 0px;
}

.register-form button {
  margin: 20px;
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  color: #ffffff;
  font-size: 20px;
  background: #000000;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.register-form button:hover {
  background: #353535;
  text-decoration: none;
}

.register-form-title {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
