.form-modal {
  background-color: hsla(0, 0%, 59%, 0.507);
  backdrop-filter: blur(4px);
  position: fixed;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-modal {
  background-color: #ffffff;
  width: 400px;
  height: 200px;
  margin: 20px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
  border-radius: 15px;
}

.error-modal strong {
  text-align: center;
}
.error-modal button:hover {
  background-color: #252525;
  color: #fff;
}

.register {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.register-container {
  width: 60%;
  height: 80%;
  background-color: #ffffff;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  box-shadow: 4px 10px 44px 2px rgba(0, 0, 0, 0.43);
  -webkit-box-shadow: 4px 10px 44px 2px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 4px 10px 44px 2px rgba(0, 0, 0, 0.43);
}

.register-presentation {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  border-radius: 12px 0px 0px 12px;
  padding: 20px;
  color: #fff;
}

.register-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
}
.register-title h2 {
  font-size: 32px;
  text-align: center;
}
.register-title h4 {
  font-size: 28px;
  text-align: center;
}
.register-presentation p {
  text-align: justify;
  margin: 20px 0px;
  font-size: 18px;
  letter-spacing: normal;
}
.register-presentation a {
  margin: 20px;
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  color: #000000;
  font-size: 20px;
  background: #ffffff;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.register-form {
  background-color: #ffffff;
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 0px 12px 12px 0px;
}

.register-form button {
  margin: 20px;
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  color: #ffffff;
  font-size: 20px;
  background: #000000;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.register-form button:hover {
  background: #272727;
  text-decoration: none;
}

.register-form-title {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
