@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
body {
  overflow-x: hidden;
  overflow-y: scroll;
}

.App {
  width: 100vw;
  min-height: 100vh;
  /*background-color: #ffffff;*/
  display: flex;
  flex-direction: column;
}

.empty-message h2 {
  width: 100%;
  text-align: center;
}
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #000000 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

@media (min-width: 320px) and (max-width: 575px) {
}

@media (min-width: 576px) and (max-width: 767px) {
  .App {
    width: 100vw;
    min-height: 100vh;
    /*background-color: #ffffff;*/
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (min-width: 992px) and (max-width: 1024px) {
}
