.transactions-section {
  width: 60%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.transactions-container {
  width: 100%;
  height: 300px;
  background-color: rgb(255, 255, 255);
  margin: 10px;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 22px;
}

.list-title {
  width: 100%;
  margin: 15px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
