.transactions-section {
  width: 60%;
  min-height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.transactions-container {
  width: 100%;
  min-height: 40%;
  background-color: rgb(255, 255, 255);
  margin: 10px;
  /*
  overflow-x: hidden;
  overflow-y: scroll;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.list-title {
  width: 100%;
  margin: 15px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.last-transactions-category-list {
  width: 30%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.last-transactions-category-list select {
  width: 50%;
  height: 30px;
  border: 1px solid #ccc;
  background: #fff;
  cursor: pointer;
}
.last-transactions-category-list select:focus {
  outline: none;
}

@media (min-width: 320px) and (max-width: 575px) {
  .transactions-section {
    width: 100%;
    font-size: 16px;
  }
  .transactions-container {
    height: 80%;
  }

  .last-transactions-category-list {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .transactions-section {
    width: 100%;
    font-size: 16px;
  }
  .transactions-container {
    min-height: 80%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .transactions-section {
    width: 100%;
    font-size: 18px;
  }
}

@media (min-width: 992px) and (max-width: 1024px) {
  .transactions-section {
    width: 80%;
    font-size: 18px;
  }
}
