.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /*background-color: #e0f2fe;*/
  background-color: #f0f0f0;
}

.login-container {
  width: 60%;
  height: 80%;
  background-color: #ffffff;
  /*border: 1px solid rgb(235, 235, 235);*/
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  box-shadow: 4px 10px 44px 2px rgba(0, 0, 0, 0.43);
  -webkit-box-shadow: 4px 10px 44px 2px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 4px 10px 44px 2px rgba(0, 0, 0, 0.43);
}

.login-presentation {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*background-color: #0284c7;*/
  background-color: #000000;
  border-radius: 12px 0px 0px 12px;
  padding: 20px;
  color: #fff;
}

.app-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
}
.app-title h2 {
  font-size: 32px;
  text-align: center;
}
.app-title h4 {
  font-size: 28px;
  text-align: center;
}
.login-presentation p {
  text-align: justify;
  margin: 20px 0px;
  font-size: 18px;
  letter-spacing: normal;
}
.login-presentation a {
  margin: 20px;
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  color: #000000;
  font-size: 20px;
  background: #ffffff;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.login-form {
  background-color: #ffffff;
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 0px 12px 12px 0px;
}

.login-form button {
  margin: 20px;
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  color: #ffffff;
  font-size: 20px;
  background: #000000;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.login-form button:hover {
  background: #272727;
  text-decoration: none;
}

.login-form-title {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

@media (min-width: 320px) and (max-width: 575px) {
  .login-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .login-presentation {
    width: 100%;
    height: 35%;
    border-radius: 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
  }

  .app-title h2 {
    font-size: 22px;
  }
  .app-title h4 {
    font-size: 26px;
  }
  .login-presentation p {
    text-align: justify;
    margin: 20px 0px;
    font-size: 18px;
  }
  .login-form {
    background-color: #ffffff;
    width: 80%;
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px;
    font-size: 14px;
  }
  .login-form input {
    width: 100%;
    height: 40px;
  }
  .login-form button {
    font-size: 18px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .login-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .login-presentation {
    width: 100%;
    height: 35%;
    border-radius: 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .login-form {
    background-color: #ffffff;
    width: 80%;
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px;
    font-size: 24px;
  }
  .login-form input {
    width: 350px;
    height: 40px;
  }
  .login-form button {
    font-size: 26px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .login-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .login-presentation {
    width: 100%;
    height: 35%;
    border-radius: 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .login-form {
    background-color: #ffffff;
    width: 80%;
    height: 65%;
    border-radius: 0px 0px;
    font-size: 24px;
  }
  .login-form input {
    width: 400px;
    height: 40px;
  }
  .login-form button {
    font-size: 26px;
  }
}

@media (min-width: 992px) and (max-width: 1024px) {
  .login-container {
    width: 90%;
    height: 90%;
  }
}
/*

*/
